<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ANIR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/employeelist']">employeelist <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/resume']">resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/ANIR13">github</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="https://www.linkedin.com/in/mohamed-akrouh/">linkedin</a>
      </li>
    </ul>
  </div>
</nav>